// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of variables

// Your own variables (that are then used by Quasar)
// must be defined before the import here.

$primary   : #6366F1 // Indigo-500
$secondary : #10B981 // Emerald-500
$accent    : #8B5CF6 // Violet-500

$dark      : #0F172A // Slate-900

$positive  : #22C55E // Green-500
$negative  : #EF4444 // Red-500
$info      : #06B6D4 // Cyan-500
$warning   : #F59E0B // Amber-500
